body {
    font-family: 'Simpsonfont';
    line-height: 1.6;
    color: #e36bf3;
    background-color: #f6f609;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Simpsonfont';
    src: url('fonts/Simpsonfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

nav-menu li img#openClosedSign {
    max-height: 30px;
    max-width: 60px;
    width: auto;
    margin: 0 5px;
    color: #ca4e5a;
    display: inline-block;
    vertical-align: middle;
    border: none;
    box-shadow: none;
    transition: transform 0.3s ease;
    border-radius: 10px;
    font-family: 'Simpsonfont';
}

nav-menu li img#openClosedSign:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
    font-family: 'Simpsonfont';
}

.header {
    background-image: url("pedidos/img/1024_600.jpg");
    color: #ce4e4e;
    font-family: 'Simpsonfont';
    font-size: 1em;
    padding: 15px;
    border-radius: 10px;
    height: 600px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-width: 5px;
    border-style: solid;
    border-image: linear-gradient(to right, #ea7610, #ffff00) 1;
    border-image-slice: 1;
    border-image-repeat: round;

    animation: border-blink 1s infinite alternate;
}

@keyframes border-blink {
    0% {
        border-image: linear-gradient(to right, #FF0000, #FFFF00) 1; /* Rojo y amarillo (nariz y piel) */
    }
    20% {
        border-image: linear-gradient(to right, #FFFF00, #00FF00) 1; /* Amarillo y verde (piel y cabello) */
    }
    40% {
        border-image: linear-gradient(to right, #00FF00, #A52A2A) 1; /* Verde y marrón (cabello y hamburguesa) */
    }
    60% {
        border-image: linear-gradient(to right, #A52A2A, #FFFFFF) 1; /* Marrón y blanco (hamburguesa y ojos) */
    }
    80% {
        border-image: linear-gradient(to right, #FFFFFF, #FFA500) 1; /* blanco y naranja (ojos y comida) */
    }
    100% {
        border-image: linear-gradient(to right, #FFA500, #FF0000) 1; /* naranja y rojo (comida y nariz) */
    }

}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
    padding: 10px 0;
    font-family: 'Simpsonfont';
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Agregamos el sombreado */
    border-radius: 2px;
    margin-bottom: 10px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    font-family: 'Simpsonfont';
    max-width: 1200px;
}

.nav-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    font-family: 'Simpsonfont';
}

.nav-item {
    margin: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Simpsonfont';
    align-items: center; /* Alineación vertical */
    transition: transform 0.3s ease;
    cursor: pointer;
}

.nav-item:hover {
    transform: scale(1.1);
}

.nav-item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
    padding: 8px 8px;
    box-sizing: border-box;
}

.nav-icon-home {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-right: 5px;
}

.nav-icon-carrito {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin-right: 5px;
}

.nav-icon-producto {
    margin-top: 5px;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-right: 5px;
}

.nav-link {
    color: #e71b81;
    font-size: 1.5em;
    text-decoration: none;
    padding: 8px 8px;
    transition: color 0.3s ease;
    font-family: 'Simpsonfont', sans-serif;
    font-weight: bold;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    display: inline-block;
}

a.nav-link {
    margin-right: 5em;
    text-align: center;
    font-family: 'Simpsonfont';
    text-align: center;
}

.nav-link:hover {
    color: #fd1fb3;
    font-family: 'Simpsonfont';
}

.main-content {
    background-color: transparent !important;
    width: 90%;
    max-width: 1200px;
    margin-left: 50px;
    padding: 5px;
    min-height: auto;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: 'Simpsonfont';
}

.messages-container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    font-family: 'Simpsonfont';
}

.message {
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-family: 'Simpsonfont';
}

.success {
    background-color: #d4edda;
    color: #155724;
    font-family: 'Simpsonfont';
}

.error {
    background-color: #f8d7da;
    color: #721c24;
    font-family: 'Simpsonfont';
}

.icono-krusty {
    width: 50px;
    position: absolute;
    top: -40px;
    left: 10px;
    animation: mover-motito 30s linear infinite;
    z-index: 10;
    transition: transform 0s linear
}

@keyframes mover-motito {
    0% {
        left: -20px;
        transform: rotateY(0deg);
    }
    25%, 75% {
        transform: rotateY(0deg);
    }
    80% {
        left: calc(100% - 50px);
        transform: rotateY(360deg);
    }
    100% {
        left: -20px;
        transform: rotateY(0deg);
    }
}

.footer {
    background-color: #007bff;
    position: relative; /* Cambiado a relative para que no se superponga */
    color: white;
    padding: 5px;
    text-align: center;
   
    border-radius: 2px;
    font-family: 'Simpsonfont';
    min-height: 80px;
    width: 100%; /* El footer ocupa todo el ancho disponible */
    
    transition: box-shadow 0.3s ease;
}

.footer:hover {
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.5);
}


.footer-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Simpsonfont';
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-text {
    margin: 5px 0;
    font-size: 16px;
    color: #ffc107;
    font-family: 'Simpsonfont';
    text-shadow: -1px -1px 0 black,  /* Borde superior izquierdo */
    1px -1px 0 black,  /* Borde superior derecho */
    -1px 1px 0 black,  /* Borde inferior izquierdo */
    1px 1px 0 black;   /* Borde inferior derecho */
}

.footer-text:first-child {
    font-weight: bold;
    font-size: 18px;
    color: #ffeb3b;
}

.footer-link {
    color: white;
    text-decoration: none;
    font-family: 'Simpsonfont';
    margin: 0 10px;
}

.footer-link:hover {
    text-decoration: underline;
}

.login-links {
    display: none;
    font-family: 'Simpsonfont';
}

@media (max-width: 600px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
    .footer-link {
        margin: 5px 0;
    }
}

@media (max-width: 575.98px) {
    .nav-container {
        flex-direction: column;
        align-items: center;
    }
    .nav-logo-img {
        height: 80px;
    }
    .nav-menu {
        flex-direction: column;
        align-items: center;
    }
    .nav-item {
        margin: 5px 0;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .nav-container {
        flex-direction: column;
        align-items: center;
    }
    .nav-logo-img {
        height: 80px;
    }
    .nav-menu {
        flex-direction: column;
        align-items: center;
    }
    .nav-item {
        margin: 5px 0;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .nav-container {
        width: 95%;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .nav-container {
        width: 95%;
    }
}

@media (max-width: 319.98px) {
    .nav-logo-img {
        height: 60px;
    }
    .nav-link {
        padding: 5px 10px;
        font-size: 0.8em;
    }
    .main-content {
        padding: 20px;
    }
    .footer-text {
        font-size: 12px;
    }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
    .nav-container {
        width: 95%;
    }
    .main-content {
        padding: 40px;
    }
}

@media (min-width: 1400px) {
    .nav-container {
        max-width: 1400px;
    }
    .main-content {
        max-width: 1400px;
        padding: 50px;
    }
    .footer-container {
        max-width: 1400px;
    }
}