@font-face {
    font-family: 'Simpsonfont';
    src: url('fonts/Simpsonfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.img-titulo {
    width: 70%;
    height: 60%;
    object-fit: cover;
    border-radius: 20px;
    border: 5px solid rgb(255, 94, 0);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h2 {
    color: rgb(15, 54, 90);
    font-family: 'Simpsonfont', cursive;
    font-size: 8rem;
    text-shadow: -1px -1px 0 black,  /* Borde superior izquierdo */
    1px -1px 0 white,  /* Borde superior derecho */
    -1px 1px 0 white,  /* Borde inferior izquierdo */
    1px 1px 0 white;   /* Borde inferior derecho */
}


h3 {
    color: rgb(114, 52, 2);
    font-size: 6rem;
    text-decoration: underline;
    font-family: 'Simpsonfont';
}

p {
    color: rgb(204, 79, 116);
    font-size: 1.8rem;
    margin: 5px;
    font-family: 'Simpsonfont';
}

.pazul {
    color: rgb(9, 9, 121);
}

.container.mt-5 {
    background-color: #007bff;
    margin-left: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Agregamos el sombreado */
}

.mt-5 h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 3rem;
    font-family: 'Simpsonfont';
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Simpsonfont';
    margin: 0 -10px;
}

.col-md-4 {
    width: calc(33.33% - 20px);
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    font-family: 'Simpsonfont';
}

.ingredientes {
    display: none;
    background-color: #c1dd22;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.nombre-producto:hover .ingredientes {
    display: block;
    opacity: 1;
}

.ingredientes ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ingredientes li {
    margin-bottom: 5px;
}

.product-item {
    text-align: center;
    transition: transform 0.3s ease;
}

.product-item:hover {
    transform: translateY(-10px);
}

.product-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-details h5 {
    font-size: 1.5em;
    margin-bottom: 5px;
    color: #063051;
    font-family: 'Simpsonfont';
}

.product-details p {
    font-size: 1em;
    color: #666;
    font-family: 'Simpsonfont';
}

.imagenproducto {
    width: 70px;
    height: 70px;
}

.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 12px;
    overflow: visible;
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: 'Simpsonfont';
}

.card-image-container {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border: 3px solid #fff;
}

.card-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
    font-family: 'Simpsonfont';
}

.card-text {
    font-size: 1em;
    color: #666;
    margin-bottom: 15px;
    font-family: 'Simpsonfont';
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
    font-family: 'Simpsonfont';
}

.btn-primary:hover {
    background-color: #0056b3;
}

.precio {
    color: #bd0606;
    font-weight: 300;
    font-family: 'Simpsonfont';
}

/* Estilos para la sección de bienvenida */
.bienvenida-contenido {
    background-image: url("pedidos/img/bienvenidos.jpg");
    background-size:cover;
    background-position: left;
    height: 300px;
    display: flex;
    align-items: first baseline;
    justify-content: left;
    text-align: left;
    color: white;
    font-family: 'Simpsonfont';
}

.bienvenida-contenido {
    width: 860px; 
    height: 300px;
    padding: 20px;
    border-radius: 5px;
}

.bienvenida h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: white;
    text-shadow: -1px -1px 0 black,  /* Borde superior izquierdo */
                 1px -1px 0 black,  /* Borde superior derecho */
                 -1px 1px 0 black,  /* Borde inferior izquierdo */
                 1px 1px 0 black;   /* Borde inferior derecho */
}

.bienvenida p {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: #d9ff00;
    text-shadow: -1px -1px 0 black,  /* Borde superior izquierdo */
    1px -1px 0 black,  /* Borde superior derecho */
    -1px 1px 0 black,  /* Borde inferior izquierdo */
    1px 1px 0 black;   /* Borde inferior derecho */
}

.btn-explorar {
    background-color: #f7c42b;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn-explorar:hover{
    background-color: #ffaf03;
}

.hamburguesita {
    vertical-align: middle;
    width: 94px;
    height: 94px;
    transition: transform 0.3s ease;
}

.hamburguesita:hover {
    animation: sacudir 0.5s ease-in-out;
}

@keyframes sacudir {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

@media (max-width: 768px) {
    .col-md-4 {
        width: calc(50% - 20px);
    }
}

@media (max-width: 576px) {
    .col-md-4 {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .img-titulo {
        width: 90%;
        height: auto;
    }
}

@media (max-width: 576px) {
    .img-titulo {
        width: 100%;
    }
}