{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Pola's Burger's{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" type="image/x-icon" href="{% static 'pedidos/img/hamburguesa.png' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="{% static 'carrito.css' %}">
    <link rel="stylesheet" href="{% static 'crear_pedido.css' %}">
    <link rel="stylesheet" href="{% static 'listar_productos.css' %}">
    <link rel="stylesheet" href="{% static 'lista_pedidos.css' %}">
    <link rel="stylesheet" href="{% static 'detalle_pedido.css' %}">
    <link rel="stylesheet" href="{% static 'agregar_producto_al_pedido.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header class="header">
        <section class="imagenportada">
        </section>
    </header>
    <nav class="nav">
        <div class="nav-container">
            <ul class="nav-menu">
                <li class="nav-item">
                    <img src="{% static 'pedidos/img/home_simpsons.png' %}" alt="Icono de inicio" class="nav-icon-home"/>
                    <a href="{% url 'home' %}" class="nav-link"> Inicio</a>
                </li>
                <li class="nav-item">
                    <img src="{% static 'pedidos/img/carrito.png' %}" alt="Icono de carrito" class="nav-icon-carrito"/>
                    <a href="{% url 'ver_carrito' %}" class="nav-link" id="carrito-link">Carrito
                    </a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <img src="{% static 'pedidos/img/productos.png' %}" alt="Icono de productos" class="nav-icon-producto"/>
                    <a href="{% url 'listar_productos' %}" class="nav-link">
                        Productos</a></li>
                <li class="nav-item"><a href="{% url 'listar_pedidos' %}" class="nav-link"><i
                            class="fas fa-list-alt"></i> Pedidos</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    {% if messages %}
    <div class="messages-container">
        {% for message in messages %}
        <div class="message {{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}



    <main class="main-content">
        {% block content %}{% endblock %}
    </main>


    <footer class="footer">
        <div class="footer-container">
            <div class="login-links">
                {% if user.is_authenticated %}
                <li><a href="{% url 'cerrar_sesion' %}"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a></li>
                {% else %}
                <li><a href="{% url 'iniciar_sesion' %}"><i class="fas fa-sign-in-alt"></i> Iniciar Sesión</a></li>
                {% endif %}
            </div>
            <p class="footer-text">Horarios de Atención : Viernes, Sábados y Domingos de 19:30 a 23:30</p>
            <p class="footer-text">&copy; {{ year }} Pola's Burger's - Todos los derechos Reservados</p>
            <p class="footer-text">Desarrollo - <a href="https://www.linkedin.com/in/cristian-marcus34738462"
                    target="_blank" class="footer-link">Agencia Digital Powa</a></p>
            <p class="footer-text"><a href="{% url 'politica_privacidad' %}" class="footer-link">Política de
                    Privacidad</a> | <a href="{% url 'terminos_condiciones' %}" class="footer-link">Términos y
                    Condiciones</a></p>
            <img src="{% static 'pedidos/img/delivery-man2.png' %}" alt="Krusty en moto" class="icono-krusty">
        </div>
    </footer>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('carrito-link').addEventListener('click', function (event) {
                event.preventDefault(); // Evita el comportamiento predeterminado del enlace

                var carritoUrl = "{% url 'ver_carrito' %}#inicio-carrito"; // Agrega el ancla
                window.location.href = carritoUrl; // Redirige a la URL con el ancla
            });
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            console.log('Script de base.html ejecutado');
            // Función para realizar el desplazamiento suave
            function scrollToTarget(targetId) {
                const targetElement = document.querySelector(targetId);
                if (targetElement) {
                    targetElement.scrollIntoView({
                        behavior: 'smooth'
                    });
                }
            }

            // Manejar clics en enlaces con `data-scroll-to`
            const scrollLinks = document.querySelectorAll('[data-scroll-to]');
            scrollLinks.forEach(link => {
                link.addEventListener('click', function (e) {
                    e.preventDefault();
                    const targetId = this.getAttribute('data-scroll-to');
                    scrollToTarget(targetId);
                });
            });

            // Verificar si la URL actual tiene un ancla y realizar el desplazamiento
            if (window.location.hash) {
                scrollToTarget(window.location.hash);
            }
        });
    </script>
    <script>
        document.addEventListener('keydown', function (event) {
            // Ejemplo: Mostrar enlaces al presionar Ctrl + Shift + L
            if (event.ctrlKey && event.shiftKey && event.key === 'L') {
                document.querySelector('.login-links').style.display = 'block';
            }
        });
    </script>
    <script>
        setTimeout(function () {
            var mensajes = document.querySelectorAll('.message'); // Selecciona todos los elementos con la clase 'message'
            mensajes.forEach(function (mensaje) {
                mensaje.style.display = 'none';
            });
        }, 10000); // Ocultar después de 10 segundos
    </script>
</body>

</html>