{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Pola's Burger's{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" type="image/x-icon" href="{% static 'pedidos/img/hamburguesa.png' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="{% static 'carrito.css' %}">
    <link rel="stylesheet" href="{% static 'crear_pedido.css' %}">
    <link rel="stylesheet" href="{% static 'listar_productos.css' %}">
    <link rel="stylesheet" href="{% static 'lista_pedidos.css' %}">
    <link rel="stylesheet" href="{% static 'detalle_pedido.css' %}">
</head>

<body>
    <header class="header">
        <nav class="nav">
            <div class="nav-container">
                <a href="{% url 'home' %}" class="nav-logo">
                    <img src="{% static 'pedidos/img/polasburgers.jpeg' %}" alt="Pola's Burger's Logo"
                         class="nav-logo-img">
                </a>
                
                <ul class="nav-menu">
                    <li><img id="openClosedSign" src="{% static 'pedidos/img/closed.gif' %}" alt="Open/Closed"></li>
                    <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">Inicio</a></li>
                    <li class="nav-item"><a href="{% url 'ver_carrito' %}" class="nav-link">Carrito</a></li>
                    {% if user.is_authenticated %}
                        <li class="nav-item"><a href="{% url 'listar_productos' %}" class="nav-link">Productos</a></li>
                        <li class="nav-item"><a href="{% url 'listar_pedidos' %}" class="nav-link">Pedidos</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    {% if messages %}
    <div class="messages-container">
        {% for message in messages %}
        <div class="message {{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    <main class="main-content">
        {% block content %}{% endblock %}
    </main>
    <footer class="footer">
        <div class="footer-container">
            <div class="login-links">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'cerrar_sesion' %}">Cerrar Sesión</a></li>
                {% else %}
                    <li><a href="{% url 'iniciar_sesion' %}">Iniciar Sesión</a></li>
                {% endif %}
            </div>
            <p class="footer-text">Horario de Atención: Viernes, Sábados y Domingos de 19:30 a 23:30</p>
            <p class="footer-text">&copy; {{ year }} Pola's Burger's - Todos los derechos reservados.</p>
            <p class="footer-text">Desarrollo <a href="https://www.linkedin.com/in/cristian-marcus34738462"
                    target="_blank" class="footer-link">Agencia Digital Powa</a></p>
            <p class="footer-text"><a href="{% url 'politica_privacidad' %}" class="footer-link">Política de Privacidad</a> | <a href="{% url 'terminos_condiciones' %}" class="footer-link">Términos y Condiciones</a></p>        
        </div>
    </footer>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            console.log('Script de base.html ejecutado');
            // Función para realizar el desplazamiento suave
            function scrollToTarget(targetId) {
                const targetElement = document.querySelector(targetId);
                if (targetElement) {
                    targetElement.scrollIntoView({
                        behavior: 'smooth'
                    });
                }
            }
    
            // Manejar clics en enlaces con `data-scroll-to`
            const scrollLinks = document.querySelectorAll('[data-scroll-to]');
            scrollLinks.forEach(link => {
                link.addEventListener('click', function (e) {
                    e.preventDefault();
                    const targetId = this.getAttribute('data-scroll-to');
                    scrollToTarget(targetId);
                });
            });
    
            // Verificar si la URL actual tiene un ancla y realizar el desplazamiento
            if (window.location.hash) {
                scrollToTarget(window.location.hash);
            }
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            function updateOpenClosedSign() {
                const now = new Date();
                const day = now.getDay(); // 0: Domingo, 1: Lunes, ..., 6: Sábado
                const hour = now.getHours();
                const minutes = now.getMinutes();
    
                let openHour, openMinute, closeHour, closeMinute;
    
                // Define el horario de apertura y cierre para cada día
                switch (day) {
                    case 5: // Viernes
                    case 6: // Sábado
                    case 0: // Domingo
                        openHour = 19;
                        openMinute = 30;
                        closeHour = 23;
                        closeMinute = 30;
                        break;
                    default:
                        // En caso de un error o días no operativos, muestra "Cerrado"
                        document.getElementById('openClosedSign').src = "{% static 'pedidos/img/closed.gif' %}";
                        return;
                }
    
                // Compara el horario actual con el horario de apertura y cierre
                let openTime = openHour + openMinute / 60;
                let closeTime = closeHour + closeMinute / 60;
                let currentTime = hour + minutes / 60;
    
                if (currentTime >= openTime && currentTime < closeTime) {
                    document.getElementById('openClosedSign').src = "{% static 'pedidos/img/open.gif' %}";
                } else {
                    document.getElementById('openClosedSign').src = "{% static 'pedidos/img/closed.gif' %}";
                }
            }
    
            updateOpenClosedSign(); // Actualizar al cargar la página
            setInterval(updateOpenClosedSign, 60000); // Actualizar cada minuto
        });
    </script>
    <script>
        document.addEventListener('keydown', function(event) {
            // Ejemplo: Mostrar enlaces al presionar Ctrl + Shift + L
            if (event.ctrlKey && event.shiftKey && event.key === 'L') {
                document.querySelector('.login-links').style.display = 'block';
            }
        });
    </script>
</body>

</html>