{% extends 'pedidos/base.html' %}
{% load static %}

{% block title %}Crear Pedido{% endblock %}

{% block content %}
    <div class="container">
        <h1 id="inicio-crearpedido" class="tecague">Crear Pedido</h1>
        <h5 class="crearh5">('Complete sus datos')</h5>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="nombre" class="form-label"><i class="fas fa-user"></i> Nombre:</label>
                        <input type="text" id="nombre" name="nombre" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="apellido" class="form-label"><i class="fas fa-user-tag"></i> Apellido:</label>
                        <input type="text" id="apellido" name="apellido" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="telefono" class="form-label"><i class="fas fa-phone"></i> Teléfono:</label>
                        <input type="text" id="telefono" name="telefono" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="direccion" class="form-label"><i class="fas fa-map-marker-alt"></i> Dirección:</label>
                        <input type="text" id="direccion" name="direccion" class="form-control" required>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="metodo_pago" class="form-label"><i class="fas fa-money-check-alt"></i> Método de Pago:</label>
                        <select name="metodo_pago" id="metodo_pago" class="form-select">
                            <option value="efectivo">Efectivo</option>
                            <option value="mercado_pago">Mercado Pago</option>
                        </select>
                        <div id="mercado-pago-info">
                            <a href="https://link.mercadopago.com.ar/polasburgers" class="btn btn-success btn-sm" target="_blank">
                                <img src="{% static 'pedidos/img/iconomp.svg' %}" alt="Mercado Pago" style="height: 30px; vertical-align: middle; margin-right: 8px;">
                                Pagar con Mercado Pago
                            </a>
                            <p>Favor de enviar comprobante de pago al finalizar el pedido</p>
                            <p>Luego de realizado el pago, presione en  realizar pedido para continuar.</p>
                            
                            <!-- <p>Luego de realizado el pago, cargue el comprobante para continuar.</p>
                            <div class="mb-3">
                                <label for="comprobante_pago" class="form-label">Comprobante de Pago:</label>
                                <input type="file" id="comprobante_pago" name="comprobante_pago" class="form-control">
                            </div> -->
                        </div>
                    </div>

                    <div class="card mt-4">
                        <div class="card-body">
                            <h5 class="card-title"><i class="fas fa-receipt"></i> Resumen del Pedido</h5>
                            <p class="card-text">Subtotal: <span id="subtotal">${{ subtotal|floatformat:2 }}</span></p>
                            <p class="card-text">Cargo de Delivery: <span id="cargo-delivery">${{ cargo_delivery|floatformat:2 }}</span></p>
                            <p class="card-color">Total: <span id="total">${{ total_con_delivery|floatformat:2 }}</span></p>
                        </div>
                    </div>
                </div>
            </div>

            <button  type="submit" class="btn btn-primary"><i class="fas fa-check-circle"></i> Realizar Pedido</button>
        </form>
    </div>
    <script>
        const metodoPagoSelect = document.getElementById('metodo_pago');
        const mercadoPagoInfo = document.getElementById('mercado-pago-info');

        metodoPagoSelect.addEventListener('change', function() {
            if (this.value === 'mercado_pago') {
                mercadoPagoInfo.style.display = 'block';
            } else {
                mercadoPagoInfo.style.display = 'none';
            }
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const form = document.querySelector('form');
            form.addEventListener('submit', function(event) {
                event.preventDefault(); // Evita el envío normal del formulario
    
                fetch(form.action, {
                    method: 'POST',
                    body: new FormData(form),
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken') // Asegúrate de tener la función getCookie
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        // Redirige a la página de detalles con el ancla y el pedido_id
                        window.location.href = `{% url 'detalle_pedido' pedido_id=0 %}#detalle-pedido-ancla`.replace('0', data.pedido_id);
                    } else {
                        alert('Error al crear el pedido.');
                        console.error(data.errors);
                        console.error(data.pedido_form_errors);
                    }
                });
            });
    
            // Función para obtener el token CSRF de las cookies
            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                    return cookieValue;
                }
            }
        });
    </script>
{% endblock %}