{% extends 'pedidos/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Términos y Condiciones</h1>

    <section class="mb-4">
        <h2>1. Aceptación de los Términos</h2>
        <p>Al acceder y utilizar este sitio web, usted acepta cumplir con estos términos y condiciones. Si no está de acuerdo con alguno de estos términos, no utilice este sitio.</p>
    </section>

    <section class="mb-4">
        <h2>2. Uso del Sitio</h2>
        <p>Este sitio web se proporciona "tal cual" y "según disponibilidad". No garantizamos que el sitio esté libre de errores o que el acceso sea ininterrumpido.</p>
        <p>Usted es responsable de mantener la confidencialidad de su cuenta y contraseña. Acepta la responsabilidad de todas las actividades que ocurran bajo su cuenta.</p>
    </section>

    <section class="mb-4">
        <h2>3. Propiedad Intelectual</h2>
        <p>Todo el contenido de este sitio, incluyendo texto, gráficos, logotipos, imágenes y software, es propiedad de [contenido libre] y está protegido por las leyes de propiedad intelectual.</p>
    </section>

    <section class="mb-4">
        <h2>4. Limitación de Responsabilidad</h2>
        <p>[Lo del Pola] no será responsable de ningún daño directo, indirecto, incidental, especial o consecuente que resulte del uso o la imposibilidad de usar este sitio.</p>
    </section>

    <section class="mb-4">
        <h2>5. Pagos y Envíos</h2>
        <p>Los pagos se procesan a través de [Proveedor de Pagos]. Los envíos se realizan dentro de [Tiempo de Envío] y los costos de envío se calcularán durante el proceso de pago.</p>
    </section>

    <section class="mb-4">
        <h2>6. Devoluciones y Reembolsos</h2>
        <p>Aceptamos devoluciones dentro de [Días de Devolución] días de la recepción del pedido. Los reembolsos se procesarán dentro de [Días de Reembolso] días de la recepción de la devolución.</p>
    </section>

    <section class="mb-4">
        <h2>7. Ley Aplicable</h2>
        <p>Estos términos y condiciones se rigen e interpretan de acuerdo con las leyes de [País/Estado]. Cualquier disputa se resolverá en los tribunales de [Ciudad, País/Estado].</p>
    </section>

    <section>
        <h2>8. Cambios en los Términos y Condiciones</h2>
        <p>Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento. Los cambios se publicarán en esta página, y le recomendamos que revise estos términos periódicamente.</p>
    </section>
</div>
{% endblock %}